<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.pims.pem.dao.LabourEfficiencyDao">
	<!-- 人效 .小时 -->
	<resultMap id="BaseResultMap1" type="com.jd.pims.pem.model.LabourEfficiencyHour">
		<id column="id" property="id" />
		<result column="cu_id" property="cuId" />
		<result column="biz_date" property="bizDate" />
		<result column="time_period" property="timePeriod" />
		<result column="labour_efficiency" property="labourEfficiency" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
	</resultMap>

	<!-- 人效 .天 -->
	<resultMap id="BaseResultMap2" type="com.jd.pims.pem.model.LabourEfficiencyDay">
		<id column="id" property="id" />
		<result column="cu_id" property="cuId" />
		<result column="biz_date" property="bizDate" />
		<result column="labour_efficiency" property="labourEfficiency" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
	</resultMap>

</mapper>  