<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.pims.pem.dao.LabourOndutyDao" >
  <!-- 在岗人数  -->
  <resultMap id="labourOnduty" type="com.jd.pims.pem.model.LabourOnduty" >
    <id column="id" property="id" />
    <result column="cu_id" property="cuId"  />
    <result column="biz_date" property="bizDate"  />
    <result column="timing" property="timing"  />
    <result column="person_type" property="personType"  />
    <result column="quantity_onduty" property="quantityOnduty"  />
    <result column="create_time" property="createTime"  />
    <result column="last_update_time" property="lastUpdateTime"  />
  </resultMap>

  <select id="getCurrentTimeLabourOnduty" resultMap="labourOnduty">
  	select RS.BIZ_DATE,RS.PERSON_TYPE,sum(RS.QUANTITY_ONDUTY) QUANTITY_ONDUTY from 
		(SELECT LO.BIZ_DATE,LO.PERSON_TYPE,LO.QUANTITY_ONDUTY
		  	FROM JD_LE_LABOUR_ONDUTY LO
		  	LEFT JOIN NP_SYS_CONTROLUNIT CU ON LO.CU_ID=CU.ID
		  	WHERE LO.BIZ_DATE=#{currentDate}
		  		and CU.FULL_PATH like CONCAT(#{fullPath},'%' )
		  	ORDER BY TIMING DESC
		  	LIMIT 0,5
		) RS GROUP BY RS.BIZ_DATE,RS.PERSON_TYPE
  </select>

  <select id="getBranches" resultType="String" parameterType="String">
  		SELECT
			c.id
		FROM
			NP_SYS_CONTROLUNIT c
		WHERE
			c.PARENTID = #{PARENTID}
  </select>

</mapper>