<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.pims.pem.dao.LabourEfficiencyDao">
	<!-- 人效 -->
	<resultMap id="labourEfficiency" type="com.jd.pims.pem.model.LabourEfficiency">
		<id column="id" property="id" />
		<result column="cu_id" property="cuId" />
		<result column="cu_name" property="cuName" />
		<result column="biz_date" property="bizDate" />
		<result column="time_period" property="timePeriod" />
		<result column="efficiency" property="efficiency" />
		<result column="number_onduty" property="numberOnduty" />
		<result column="order_quantity" property="orderQuantity" />
		<result column="period_efficiency" property="periodEfficiency" />
		<result column="avg_efficiency" property="avgEfficiency" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
	</resultMap>

	<select id="getLabourEfficiency" resultMap="labourEfficiency">
	<![CDATA[
		SELECT SUM(RSS.QUANTITY_ONDUTY) AS NUMBER_ONDUTY,SUM(LE.ORDER_QUANTITY) AS ORDER_QUANTITY FROM (
			SELECT CU_ID,BIZ_DATE,SUM(QUANTITY_ONDUTY) AS QUANTITY_ONDUTY FROM (
				SELECT CU_ID,BIZ_DATE,PERSON_TYPE,AVG(QUANTITY_ONDUTY) AS QUANTITY_ONDUTY 
				FROM JD_LE_LABOUR_ONDUTY 
				WHERE BIZ_DATE=#{bizDate} AND TIMING >=#{beginTime} AND TIMING <#{endTime} and PERSON_TYPE<>'5'
				GROUP BY CU_ID,BIZ_DATE,PERSON_TYPE) RS
			GROUP BY CU_ID,BIZ_DATE) RSS
		LEFT JOIN (SELECT CU_ID,BIZ_DATE,ORDER_QUANTITY FROM JD_LE_ORDER_QUANTITY WHERE BIZ_DATE=#{bizDate} AND TIME_PERIOD=#{timePeriod}) LE 
			ON RSS.CU_ID=LE.CU_ID AND LE.BIZ_DATE = RSS.BIZ_DATE
		INNER JOIN NP_SYS_CONTROLUNIT CU ON CU.ID=RSS.CU_ID
		WHERE  CU.FULL_PATH LIKE CONCAT(#{fullPath},'%' )
	]]>
	</select>
	
	<select id="getEfficiencyOrderForChart" resultType="java.util.HashMap">
	<![CDATA[
		SELECT 		
		IFNULL(sum(qu.ORDER_QUANTITY),0) as orderNum
		FROM JD_LE_ORDER_QUANTITY qu where qu.CU_ID in(select MANAGE_ID from NP_CF_SUBSYSTEM sub LEFT JOIN NP_EQ_AREA area on sub.AREA_ID = area.ID where area.AREA_CLASS='BROUGH' and  area.FULL_PATH like CONCAT((select distinct FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%')) and qu.BIZ_DATE = #{date}
		AND qu.TIME_PERIOD=#{timePeriod} 
	]]>
	</select>
	
	<select id="getTodayOrderForChart" resultType="java.util.HashMap">
	<![CDATA[
		SELECT 		
		IFNULL(sum(qu.ORDER_QUANTITY),0) as orderNum
		FROM JD_LE_ORDER_QUANTITY qu where qu.CU_ID in(select MANAGE_ID from NP_CF_SUBSYSTEM sub LEFT JOIN NP_EQ_AREA area on sub.AREA_ID = area.ID where area.AREA_CLASS='BROUGH' and area.FULL_PATH like CONCAT((select distinct FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%')) and qu.BIZ_DATE = #{date}
	]]>
	</select>
	
	<select id="getHistoryLabourEfficiency" resultMap="labourEfficiency">
	<![CDATA[
		SELECT
			p.cu_id,
			p.biz_date,
			IFNULL(p.number_onduty,0),
			IFNULL(od.TOTAL_QUANTITY,0) AS ORDER_QUANTITY,
			case when od.TOTAL_QUANTITY is null then 0 else FORMAT(od.TOTAL_QUANTITY / p.number_onduty,0) end as efficiency
		FROM
			(
				SELECT
					dd.cu_id,
					dd.biz_date,
					sum(
						CASE
						WHEN dd.WORK_TYPE = '5' THEN
							0
						ELSE
							1
						END
					) AS number_onduty
				FROM
					(
						SELECT DISTINCT
							card.controlunitid AS cu_id,
							date_format(door.OPEN_TIME, '%Y-%m-%d') biz_date,
							wtp.work_type,
							door.card_id
						FROM
							np_dt_door_inout door
						LEFT JOIN np_cd_card card ON card.ID = door.CARD_ID
						LEFT JOIN np_sys_person person ON person.ID = card.PERSON_ID
						INNER JOIN (
							SELECT
								controlunitid,
								person_code,
								sum(work_type)-5 as work_type
							FROM  np_sys_person
							group by controlunitid,person_code
							having (sum(work_type)-5)>0 and (sum(work_type)-5)<=5
						) wtp ON person.PERSON_CODE = wtp.person_code and card.controlunitid = wtp.controlunitid
						LEFT JOIN np_sys_controlunit cu ON cu.id = card.controlunitid
						WHERE
							door.OPEN_TIME >= #{startDate}
						AND door.OPEN_TIME <= #{endDate}
						AND door.card_id IS NOT NULL
						AND CU.FULL_PATH LIKE CONCAT(#{fullPath}, '%')
						GROUP BY
							card.controlunitid,
							open_time,
							wtp.work_type,
							door.card_id
					) dd
				GROUP BY
					dd.cu_id,
					dd.biz_date
			) p
		LEFT JOIN jd_le_order_quantity od ON od.cu_id = p.cu_id
		AND date_format(p.biz_date,'%Y-%m-%d') = date_format(od.biz_date,'%Y-%m-%d')
		AND od.TIME_PERIOD = 24
	]]>
	</select>
	
	
	<select id="getHistoryEfficiencyForChart" resultType="java.util.HashMap">
	<![CDATA[
		SELECT concat(concat((date_format(ond.BIZ_DATE,'%m')),'月'),concat((date_format(ond.BIZ_DATE,'%d')),'日')) as name,sum(IFNULL(ond.PERIOD_EFFICIENCY,0)) as effect
		FROM jd_le_labour_efficiency ond 
		WHERE ond.BIZ_DATE>=#{startDate} AND ond.BIZ_DATE<#{endDate}
		AND ond.CU_ID in(select MANAGE_ID from NP_CF_SUBSYSTEM sub LEFT JOIN NP_EQ_AREA area on sub.AREA_ID = area.ID where area.AREA_CLASS='BROUGH' and area.FULL_PATH like CONCAT((select distinct FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%' ))
		GROUP by ond.BIZ_DATE
	]]>
	</select>
	
	<select id="getHistoryEfficiencyClerkForChart" resultType="java.util.HashMap">
	<![CDATA[
		SELECT concat(concat((date_format(ond.BIZ_DATE,'%m')),'月'),concat((date_format(ond.BIZ_DATE,'%d')),'日')) as name,
		sum(case when PERSON_TYPE='1' THEN IFNULL(ond.AVG_QUANTITY,0)
				when PERSON_TYPE='2' THEN IFNULL(ond.AVG_QUANTITY,0)
				when PERSON_TYPE='3' THEN IFNULL(ond.AVG_QUANTITY,0)
				when PERSON_TYPE='4' THEN IFNULL(ond.AVG_QUANTITY,0) END) as clerkNum
		FROM JD_LE_LABOUR_ONDUTY_DAY_ST ond 
		WHERE ond.BIZ_DATE>=#{startDate} AND ond.BIZ_DATE<#{endDate} AND ond.PERSON_TYPE != 5
		AND ond.CU_ID in(select MANAGE_ID from NP_CF_SUBSYSTEM sub LEFT JOIN NP_EQ_AREA area on sub.AREA_ID = area.ID where area.AREA_CLASS='BROUGH' and area.FULL_PATH like CONCAT((select distinct FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%' ))
		GROUP by ond.BIZ_DATE
	]]>
	</select>
	
	<select id="getHistoryEfficiencyOrderForChart" resultType="java.util.HashMap">
	<![CDATA[
		SELECT concat(concat((date_format(qu.BIZ_DATE,'%m')),'月'),concat((date_format(qu.BIZ_DATE,'%d')),'日')) as name,sum(IFNULL(qu.ORDER_QUANTITY,0)) as orderNum
		FROM JD_LE_ORDER_QUANTITY qu 
		WHERE qu.BIZ_DATE>=#{startDate} AND qu.BIZ_DATE<#{endDate} 
		AND qu.CU_ID in(select MANAGE_ID from NP_CF_SUBSYSTEM sub LEFT JOIN NP_EQ_AREA area on sub.AREA_ID = area.ID where area.AREA_CLASS='BROUGH' and area.FULL_PATH like CONCAT((select distinct FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%' ))
		GROUP by qu.BIZ_DATE
	]]>
	</select>
</mapper>  