<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.pims.pem.dao.LabourEfficiencyDao">
	<!-- 人效 -->
	<resultMap id="labourEfficiency" type="com.jd.pims.pem.model.LabourEfficiency">
		<id column="id" property="id" />
		<result column="cu_id" property="cuId" />
		<result column="biz_date" property="bizDate" />
		<result column="time_period" property="timePeriod" />
		<result column="period_efficiency" property="periodEfficiency" />
		<result column="avg_efficiency" property="avgEfficiency" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
	</resultMap>

	<select id="getLabourEfficiency" resultMap="labourEfficiency">
	<![CDATA[
		SELECT LE.ID,LE.CU_ID,LE.BIZ_DATE,LE.TIME_PERIOD,LE.PERIOD_EFFICIENCY,LE.AVG_EFFICIENCY
		FROM JD_LE_LABOUR_EFFICIENCY LE
		INNER JOIN NP_SYS_CONTROLUNIT CU ON LE.CU_ID=CU.ID
		WHERE LE.BIZ_DATE=#{bizDate} AND LE.TIME_PERIOD=#{timePeriod} 
			AND CU.FULL_PATH LIKE CONCAT(#{fullPath},'%' )
	]]>
	</select>
	
	<select id="getEfficiencyForChart" resultType="java.util.HashMap">
	<![CDATA[
		SELECT sum(LE.PERIOD_EFFICIENCY) as effect, sum(qu.ORDER_QUANTITY) as orderNum
		FROM JD_LE_LABOUR_EFFICIENCY LE
		INNER JOIN NP_SYS_CONTROLUNIT CU ON LE.CU_ID=CU.ID
		INNER JOIN JD_LE_ORDER_QUANTITY qu on qu.CU_ID=CU.ID and LE.BIZ_DATE = qu.BIZ_DATE
		WHERE LE.BIZ_DATE=#{date} AND LE.TIME_PERIOD=#{timePeriod} 
			AND CU.FULL_PATH LIKE CONCAT((select FULL_PATH from NP_SYS_CONTROLUNIT where id in(select CONTROLUNITID from NP_EQ_AREA where id = #{id})),'%' )
			GROUP by LE.CU_ID
	]]>
	</select>
	
	<select id="getHistoryLabourEfficiency" resultMap="labourEfficiency">
	<![CDATA[
		SELECT LE.ID,LE.CU_ID,LE.BIZ_DATE,LE.AVG_EFFICIENCY AS EFFICIENCY,
		LAB.QUANTITY_ONDUTY AS NUMBER_ONDUTY,ORD.TOTAL_QUANTITY AS ORDER_QUANTITY
		FROM JD_LE_LABOUR_EFFICIENCY LE
		INNER JOIN NP_SYS_CONTROLUNIT CU ON LE.CU_ID=CU.ID
		LEFT OUTER JOIN 
		(SELECT CU_ID,BIZ_DATE,ROUND(AVG(QUANTITY_ONDUTY),0) AS QUANTITY_ONDUTY FROM JD_LE_LABOUR_ONDUTY
		 GROUP BY CU_ID,BIZ_DATE) LAB ON LAB.CU_ID=LE.CU_ID AND LAB.BIZ_DATE=LE.BIZ_DATE
		LEFT OUTER JOIN (SELECT CU_ID,BIZ_DATE,TOTAL_QUANTITY FROM JD_LE_ORDER_QUANTITY WHERE TIME_PERIOD=24) ORD
			ON ORD.CU_ID=LE.CU_ID AND ORD.BIZ_DATE=LE.BIZ_DATE
		WHERE LE.BIZ_DATE>=#{startDate} AND LE.BIZ_DATE<=#{endDate}  AND LE.TIME_PERIOD=24 
			AND CU.FULL_PATH LIKE CONCAT(#{fullPath},'%' )
	]]>
	</select>
	
	
	<select id="getHistoryEfficiencyForChart" resultType="java.util.HashMap">
	<![CDATA[
		SELECT concat((date_format(LE.BIZ_DATE,'%d')),'日') as name,sum(LE.LABOUR_EFFICIENCY) as effect, sum(qu.ORDER_QUANTITY) as orderNum,sum(ond.AVG_QUANTITY) as clerkNum
		FROM JD_LE_LABOUR_EFFI_DAY_ST LE
		INNER JOIN NP_SYS_CONTROLUNIT CU ON LE.CU_ID=CU.ID
		INNER JOIN JD_LE_ORDER_QUANTITY qu on qu.CU_ID=CU.ID and LE.BIZ_DATE = qu.BIZ_DATE
		INNER JOIN JD_LE_LABOUR_ONDUTY_DAY_ST ond on ond.CU_ID=CU.ID and LE.BIZ_DATE = ond.BIZ_DATE
		WHERE LE.BIZ_DATE>=#{startDate} AND LE.BIZ_DATE<=#{endDate} AND CU.FULL_PATH LIKE CONCAT((select FULL_PATH from NP_SYS_CONTROLUNIT where id in(select CONTROLUNITID from NP_EQ_AREA where id = #{id})),'%' )
			GROUP by LE.BIZ_DATE
	]]>
	</select>
</mapper>  