<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.pims.pem.dao.LabourOndutyDao" >
  <!-- 在岗人数  -->
  <resultMap id="labourOnduty" type="com.jd.pims.pem.model.LabourOnduty" >
    <id column="id" property="id" />
    <result column="cu_id" property="cuId"  />
    <result column="biz_date" property="bizDate"  />
    <result column="timing" property="timing"  />
    <result column="person_type" property="personType"  />
    <result column="quantity_onduty" property="quantityOnduty"  />
    <result column="create_time" property="createTime"  />
    <result column="last_update_time" property="lastUpdateTime"  />
  </resultMap>
  
  <resultMap id="labourOndutyState" type="com.jd.pims.pem.model.LabourOndutyState" >
    <id column="id" property="id" />
    <result column="cu_id" property="cuId"  />
    <result column="cu_name" property="cuName"  />
    <result column="day_time" property="dayTime"  />
    <result column="num_emp" property="numEmp"  />
    <result column="num_temp" property="numTemp"  />
    <result column="num_other" property="numOther"  />
  </resultMap>

  <select id="getCurrentTimeLabourOnduty" resultMap="labourOnduty">
   <![CDATA[
    SELECT LO.CU_ID,LO.PERSON_TYPE,MAX(LO.TIMING) AS TIMING,LO.QUANTITY_ONDUTY
		FROM JD_LE_LABOUR_ONDUTY LO
		LEFT JOIN NP_SYS_CONTROLUNIT CU ON LO.CU_ID=CU.ID
		WHERE  CU.FULL_PATH like CONCAT(#{fullPath},'%' )
					AND LO.BIZ_DATE=#{currentDate} AND TIMING>=#{beginTime} AND TIMING<#{endTime}
	GROUP BY LO.CU_ID,LO.PERSON_TYPE
	]]>	
  </select>
  
  <select id="getCurrentTimeLabourOnduty2" resultMap="labourOnduty">
   <![CDATA[
    SELECT LO.CU_ID,LO.PERSON_TYPE,MAX(LO.TIMING) AS TIMING,IFNULL(LO.QUANTITY_ONDUTY,0) AS QUANTITY_ONDUTY
		 FROM JD_LE_LABOUR_ONDUTY LO
		 	LEFT JOIN NP_SYS_CONTROLUNIT CU ON LO.CU_ID=CU.ID
		 WHERE  CU.FULL_PATH like CONCAT(#{fullPath},'%' )
		  	   
				AND (LO.BIZ_DATE=#{currentDate} AND TIMING>=#{beginTime}) OR
					(LO.BIZ_DATE=DATE_ADD(#{currentDate},INTERVAL 1 DAY) AND TIMING<#{endTime})
	GROUP BY LO.CU_ID,LO.PERSON_TYPE
	]]>	
  </select>

  <select id="getHistoryLabourOnduty" resultMap="labourOndutyState">
  	<![CDATA[
  	select dd.cu_id,CU.name as cu_name,dd.open_time as day_time,
		sum(case when dd.WORK_TYPE='1' THEN 1 ELSE 0 END) as num_emp,
		sum(case when dd.WORK_TYPE='2' THEN 1
		 		 when dd.WORK_TYPE='3' THEN 1
		         when dd.WORK_TYPE='4' THEN 1 ELSE 0 END) as num_temp,
	    sum(case when dd.WORK_TYPE='5' then 1 else 0 end) as num_other
	from (
		SELECT
			aa.cu_id,
			aa.open_time,
			bb.work_type,
			aa.card_id
		FROM
			(
				SELECT DISTINCT
				  sub.cu_id,
					date_format(door.OPEN_TIME, '%Y-%m-%d') open_time,
					door.card_id
				FROM
					np_dt_door_inout door FORCE INDEX (
						IDX_DOOR_INOUT_1,
						IDX_DOOR_INOUT_2
					)
				INNER JOIN (
					SELECT
						sub.id,
					  sub.controlunitid as cu_id
					FROM
						NP_CF_SUBSYSTEM sub
					INNER JOIN np_sys_controlunit CU ON sub.CONTROLUNITID = CU.ID
					WHERE
						 CU.FULL_PATH like CONCAT(#{fullPath},'%' )
					
				) sub ON sub.id = door.subsystem_id
				WHERE
					door.OPEN_TIME >= #{startDate}
				AND door.OPEN_TIME < #{endDate}
				AND door.card_id IS NOT NULL
			) aa
		INNER JOIN (
			SELECT
				card.id,
				card.subsystem_id,
				wtp.work_type
			FROM
				np_cd_card card FORCE INDEX (IDX_CARD_1)
		  INNER JOIN np_sys_controlunit CU ON card.CONTROLUNITID = CU.ID
					
			INNER JOIN np_sys_person person  ON person.ID = card.PERSON_ID
			INNER JOIN (
				SELECT
					controlunitid,
					person_code,
					sum(work_type)-5 as work_type
				FROM  np_sys_person
				group by controlunitid,person_code
				having (sum(work_type)-5)>0 and (sum(work_type)-5)<=5
			) wtp ON person.PERSON_CODE = wtp.person_code and person.controlunitid = wtp.controlunitid
			WHERE
						 CU.FULL_PATH like CONCAT(#{fullPath},'%' )
		) bb ON aa.card_id = bb.id
		GROUP BY
			aa.open_time,
			bb.work_type,
			aa.card_id
	) dd
	LEFT JOIN np_sys_controlunit cu on CU.id =dd.cu_id
	group by dd.cu_id,dd.open_time
  	]]>
  </select>
  
  <select id="getCurrentTimeLabourOndutyForChart" resultType="java.util.HashMap">
	<![CDATA[	
		select 		
			IFNULL(round(avg(case when PERSON_TYPE='1' THEN QUANTITY_ONDUTY END),2),0) as EmpNum,
			IFNULL(round(avg(case when PERSON_TYPE='2' THEN QUANTITY_ONDUTY END),2),0)+
	 		IFNULL(round(avg(case	when PERSON_TYPE='3' THEN QUANTITY_ONDUTY END),2),0)+
	        IFNULL(round(avg(case	when PERSON_TYPE='4' THEN QUANTITY_ONDUTY END),2),0) as NotEmpNum,
	        IFNULL(round(avg(case when PERSON_TYPE='5' THEN QUANTITY_ONDUTY END),2),0) as otherNumEmp
	        from JD_LE_LABOUR_ONDUTY 
	        WHERE create_time >=#{begin} 
	         	AND create_time <=#{end} 
				CU_ID in(select MANAGE_ID from NP_CF_SUBSYSTEM sub LEFT JOIN NP_EQ_AREA area on sub.AREA_ID = area.ID where area.AREA_CLASS='BROUGH' and area.FULL_PATH like CONCAT((select distinct FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%' ))
	]]>
  </select>
  
   <select id="getCurrentTimeLabourOndutyForChart1" resultType="java.util.HashMap">
	<![CDATA[
	select dd.personType,sum(dd.Num) as Num from 
		(select  cu_id,PERSON_TYPE as personType,max(timing),IFNULL(QUANTITY_ONDUTY,0) as Num
	        from JD_LE_LABOUR_ONDUTY 
	        WHERE create_time >=#{begin} 
	         	AND create_time <=#{end} 
				AND  CU_ID in(select MANAGE_ID from NP_CF_SUBSYSTEM sub LEFT JOIN NP_EQ_AREA area on sub.AREA_ID = area.ID where area.AREA_CLASS='BROUGH' and area.FULL_PATH like CONCAT((select distinct FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%' ))
		group by cu_id,PERSON_TYPE) dd
	group by dd.personType
	]]>
  </select>
  
<!--   <select id="getHistoryLabourOndutyForChart" resultType="java.util.HashMap">
	<![CDATA[	
		select 		
	        PERSON_TYPE as personType,IFNULL(QUANTITY_ONDUTY,0) as Num
	        from JD_LE_LABOUR_ONDUTY 
	        WHERE BIZ_DATE=#{currentDate} 
	        AND TIMING >=#{begin} 
	        AND TIMING <#{end} 
			AND  CU_ID in(select MANAGE_ID from NP_CF_SUBSYSTEM sub LEFT JOIN NP_EQ_AREA area on sub.AREA_ID = area.ID where area.AREA_CLASS='BROUGH' and area.FULL_PATH like CONCAT((select distinct FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%' ))
			
	
		SELECT concat(concat((date_format(LO.BIZ_DATE,'%m')),'月'),concat((date_format(LO.BIZ_DATE,'%d')),'日')) as name,sum(case when LO.PERSON_TYPE='1' THEN LO.AVG_QUANTITY ELSE 0 END) as EmpNum,sum(case when LO.PERSON_TYPE='2' THEN LO.AVG_QUANTITY
 				 when LO.PERSON_TYPE='3' THEN LO.AVG_QUANTITY
                 when LO.PERSON_TYPE='4' THEN LO.AVG_QUANTITY ELSE 0 END) as NotEmpNum
		  	FROM JD_LE_LABOUR_ONDUTY_DAY_ST LO
		  	WHERE LO.BIZ_DATE>=#{startDate} AND LO.BIZ_DATE<#{endDate}
			AND LO.CU_ID in(select MANAGE_ID from NP_CF_SUBSYSTEM sub LEFT JOIN NP_EQ_AREA area on sub.AREA_ID = area.ID where area.AREA_CLASS='BROUGH' and area.FULL_PATH like CONCAT((select distinct FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%' ))
		 GROUP BY LO.BIZ_DATE
	]]>
  </select> -->
  
    <select id="getHistoryLabourOndutyForChart" resultType="java.util.HashMap">
	<![CDATA[	
		select concat(concat((date_format(dd.OPEN_TIME,'%m')),'月'),concat((date_format(dd.OPEN_TIME,'%d')),'日')) as name,
		sum(case when dd.WORK_TYPE='1' THEN 1 ELSE 0 END) as EmpNum,
		sum(case when dd.WORK_TYPE='2' THEN 1
		 		 when dd.WORK_TYPE='3' THEN 1
		         when dd.WORK_TYPE='4' THEN 1 ELSE 0 END) as NotEmpNum
		from (
			SELECT
				aa.open_time,
				bb.work_type,
				aa.card_id
			FROM
			(
		SELECT DISTINCT
			date_format(door.OPEN_TIME, '%y-%m-%d') open_time,
			door.card_id
		FROM
			np_dt_door_inout door FORCE INDEX (
				IDX_DOOR_INOUT_1,
				IDX_DOOR_INOUT_2
			)
		INNER JOIN (
			SELECT
				sub.id
			FROM
				NP_CF_SUBSYSTEM sub
			LEFT JOIN NP_EQ_AREA area ON sub.AREA_ID = area.ID
			WHERE
				area.AREA_CLASS = 'BROUGH'
			AND area.FULL_PATH LIKE CONCAT(
				(
					SELECT DISTINCT
						FULL_PATH
					FROM
						NP_EQ_AREA
					WHERE
						AREA_NAME = #{name}),'%' )) sub
						ON sub.id = door.subsystem_id
					WHERE
						door.OPEN_TIME >= #{startDate} AND door.OPEN_TIME<#{endDate} and door.card_id is not null
				) aa
				INNER JOIN (
					SELECT
						card.id,
						card.subsystem_id,
						wtp.work_type
					FROM
						np_cd_card card FORCE INDEX (IDX_CARD_1)
					INNER JOIN np_sys_person person  ON person.ID = card.PERSON_ID
					INNER JOIN (
				SELECT
					controlunitid,
					person_code,
					sum(work_type)-5 as work_type
				FROM  np_sys_person
				group by controlunitid,person_code
				having (sum(work_type)-5)>0 and (sum(work_type)-5)<=5
			) wtp ON person.PERSON_CODE = wtp.person_code and person.controlunitid = wtp.controlunitid
				) bb ON aa.card_id = bb.id
				GROUP BY
					aa.open_time,
					bb.work_type,
					aa.card_id
		) dd
		group by dd.open_time
	]]>
  </select>
</mapper>