<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.pims.pem.dao.ReportDao">

	<select id="queryYydata" resultType="java.util.HashMap">
	<![CDATA[
		select CU.id as CU_ID,CU.NAME,CU.PARENT_NAME,dt.QUANTITY_ONDUTY,od.ORDER_QUANTITY from np_sys_controlunit cu 
			LEFT JOIN
			(select c.ID, AVG(d.QUANTITY_ONDUTY) AS QUANTITY_ONDUTY from jd_le_labour_onduty d
			inner join np_sys_controlunit c on c.id=d.CU_ID
			where  concat(
				DATE_FORMAT(d.BIZ_DATE, '%Y-%m-%d'),
				'-',
				DATE_FORMAT(d.TIMING, '%H')
			) >= #{starttime}
			AND concat(
				DATE_FORMAT(d.BIZ_DATE, '%Y-%m-%d'),
				'-',
				DATE_FORMAT(d.TIMING, '%H')
			) < #{endtime}
			group by c.id) dt
			on dt.id=CU.id
			LEFT JOIN (select c.id,sum(q.ORDER_QUANTITY) AS ORDER_QUANTITY from jd_le_order_quantity q
			inner join np_sys_controlunit c on c.id=q.CU_ID
			where  concat(
				DATE_FORMAT(q.BIZ_DATE, '%Y-%m-%d'),
				'-',
				q.TIME_PERIOD
			) >= #{starttime}
			AND concat(
				DATE_FORMAT(q.BIZ_DATE, '%Y-%m-%d'),
				'-',
				q.TIME_PERIOD
			) < #{endtime}
			group by c.id)od
			on od.id=cu.id
			where cu.PARENT_NAME LIKE CONCAT('%', #{area}, '%')
			AND cu. NAME LIKE CONCAT('%', #{pimsname}, '%')
		LIMIT #{startpages},#{pageSize}
	]]>
	</select>
	
	<select id="queryavgefficiency" resultType="java.util.HashMap">
	<![CDATA[
		select AVG(e.period_efficiency) as AVG_EFFICIENCY from jd_le_labour_efficiency e where cu_id =#{cuid} and CONCAT(DATE_FORMAT(e.BIZ_DATE,'%Y-%m-%d'),'-',e.TIME_PERIOD)>= #{starttime} and CONCAT(DATE_FORMAT(e.BIZ_DATE,'%Y-%m-%d'),'-',e.TIME_PERIOD) < #{endtime}
	]]>
	</select>
	
	<select id="queryOnduty" resultType="java.util.HashMap">
	<![CDATA[
		select PERSON_TYPE,QUANTITY_ONDUTY from jd_le_labour_onduty where cu_id=#{cuid} and concat(DATE_FORMAT(BIZ_DATE,'%Y-%m-%d'),'-',DATE_FORMAT(TIMING,'%H')) >= #{starttime} and concat(DATE_FORMAT(BIZ_DATE,'%Y-%m-%d'),'-',DATE_FORMAT(TIMING,'%H')) < #{endtime} group by PERSON_TYPE
	]]>
	</select>
	
	<select id="queryyyallpages" resultType="String">
	<![CDATA[
		select
		count(DISTINCT o.cu_id)
		from JD_LE_LABOUR_ONDUTY o
		left join NP_SYS_CONTROLUNIT c on c.id=o.CU_ID
		where c.PARENT_NAME like CONCAT('%',#{area},'%') and concat(DATE_FORMAT(o.BIZ_DATE,'%Y-%m-%d'),'-',DATE_FORMAT(o.TIMING,'%H')) >= #{starttime} and concat(DATE_FORMAT(o.BIZ_DATE,'%Y-%m-%d'),'-',DATE_FORMAT(o.TIMING,'%H')) < #{endtime} and c.NAME like CONCAT('%',#{pimsname},'%')
	]]>
	</select>
	
	<select id="queryAllYydata" resultType="java.util.HashMap">
	<![CDATA[
		select CU.id as CU_ID,CU.NAME,CU.PARENT_NAME,dt.QUANTITY_ONDUTY,od.ORDER_QUANTITY from np_sys_controlunit cu 
			LEFT JOIN
			(select c.ID, AVG(d.QUANTITY_ONDUTY) AS QUANTITY_ONDUTY from jd_le_labour_onduty d
			inner join np_sys_controlunit c on c.id=d.CU_ID
			where  concat(
				DATE_FORMAT(d.BIZ_DATE, '%Y-%m-%d'),
				'-',
				DATE_FORMAT(d.TIMING, '%H')
			) >= #{starttime}
			AND concat(
				DATE_FORMAT(d.BIZ_DATE, '%Y-%m-%d'),
				'-',
				DATE_FORMAT(d.TIMING, '%H')
			) < #{endtime}
			group by c.id) dt
			on dt.id=CU.id
			LEFT JOIN (select c.id,sum(q.ORDER_QUANTITY) AS ORDER_QUANTITY from jd_le_order_quantity q
			inner join np_sys_controlunit c on c.id=q.CU_ID
			where  concat(
				DATE_FORMAT(q.BIZ_DATE, '%Y-%m-%d'),
				'-',
				q.TIME_PERIOD
			) >= #{starttime}
			AND concat(
				DATE_FORMAT(q.BIZ_DATE, '%Y-%m-%d'),
				'-',
				q.TIME_PERIOD
			) < #{endtime}
			group by c.id)od
			on od.id=cu.id
			where cu.PARENT_NAME LIKE CONCAT('%', #{area}, '%')
			AND cu. NAME LIKE CONCAT('%', #{pimsname}, '%')
	]]>
	</select>
	
	<select id="queryondutybycontrolunit" resultType="java.util.HashMap">
	<![CDATA[
		select dd.controlunitid as CONTROLUNITID,
		sum(case when dd.WORK_TYPE='1' THEN 1 ELSE 0 END) as NORMAL,
		sum(case when dd.WORK_TYPE='2' THEN 1
		 		 when dd.WORK_TYPE='3' THEN 1
		         when dd.WORK_TYPE='4' THEN 1 ELSE 0 END) as NOTNORMAL,
		sum(case when dd.WORK_TYPE='5' THEN 1 END) as OTHER
		from (
			SELECT
				bb.CONTROLUNITID,
				
				bb.work_type
			FROM
			(
		SELECT DISTINCT
			date_format(door.OPEN_TIME, '%y-%m-%d') open_time,
			door.card_id
		FROM
			np_dt_door_inout door FORCE INDEX (
				IDX_DOOR_INOUT_1,
				IDX_DOOR_INOUT_2
			)
		INNER JOIN (
			SELECT
				sub.id
			FROM
				NP_CF_SUBSYSTEM sub
			LEFT JOIN NP_EQ_AREA area ON sub.AREA_ID = area.ID
			WHERE
				area.AREA_CLASS = 'BROUGH'
			AND area.FULL_PATH in 
				(
					SELECT DISTINCT
						FULL_PATH
					FROM
						NP_EQ_AREA
					)) sub
						ON sub.id = door.subsystem_id
					WHERE
						DATE_FORMAT(door.OPEN_TIME,'%Y-%m-%d-%H') >= #{starttime} AND DATE_FORMAT(door.OPEN_TIME,'%Y-%m-%d-%H')<#{endtime} and door.card_id is not null
				) aa
				INNER JOIN (
					SELECT
						card.id,
						card.subsystem_id,
						wtp.work_type,
						card.CONTROLUNITID
					FROM
						np_cd_card card FORCE INDEX (IDX_CARD_1)
					INNER JOIN np_sys_person person ON person.ID = card.PERSON_ID
					INNER JOIN (
						SELECT
							controlunitid,
							person_code,
							sum(work_type) - 5 AS work_type
						FROM
							np_sys_person
						GROUP BY
							controlunitid,
							person_code
						HAVING
							(sum(work_type) - 5) > 0
						AND (sum(work_type) - 5) <= 5
					) wtp ON person.PERSON_CODE = wtp.person_code
				) bb ON aa.card_id = bb.id
				GROUP BY
					
					aa.card_id
		) dd
		group by dd.CONTROLUNITID
	]]>
	</select>
  	
</mapper>