<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.pims.user.dao.UserDao" >
  <resultMap id="user" type="com.jd.pims.user.model.User" >
    <id column="id" property="id" />
    <result column="user_name" property="userName"  />
    <result column="person_id" property="personId"  />
    <result column="password" property="password"  />
    <result column="user_type" property="userType"  />
    <result column="status" property="status"  />
    <result column="controlunitid" property="controlunitid"  />
  </resultMap>
  
  <!-- 员工信息，包括组织架构 -->
  <resultMap id="employee" type="com.jd.pims.user.model.Employee" >
    <id column="id" property="id" />
    <result column="person_code" property="empCode"  />
    <result column="person_name" property="empName"  />
    <result column="card_no" property="IDCardNo"  />
    <result column="sex" property="sex"  />
    <result column="age" property="age"  />
    <result column="telephone" property="telephone"  />
    <result column="office_Tel" property="officeTel"  />
    <result column="address" property="address"  />
    <result column="native_place" property="nativePlace"  />
    <result column="org_id" property="orgId"  />
    <result column="org_code" property="orgCode"  />
    <result column="org_name" property="orgName"  />
    <result column="cu_id" property="cuId"  />
    <result column="cu_code" property="cuCode"  />
    <result column="cu_name" property="cuName"  />
    <result column="person_type" property="personType"  />
  </resultMap>
  
  <resultMap id="controlUnit" type="com.jd.pims.user.model.ControlUnit" >
    <id column="id" property="id" />
    <result column="code" property="cuCode"  />
    <result column="name" property="cuName"  />
    <result column="parentid" property="parentId"  />
    <result column="status" property="status"  />
    <result column="order_no" property="orderNo"  />
    <result column="type" property="cuType"  />
    <result column="full_path" property="fullPath"  />
  </resultMap>
  
  <select id="getUserByAccount" resultMap="user" parameterType="String">
  	 	select id,user_name,password,person_id,user_type,status 
  	 	from NP_AU_USER where user_name=#{account}
  </select>

  <insert id="insert" parameterType="com.jd.pims.user.model.User" >
    insert into t_user ( name, age,password,email)
    values ( #{name}, #{age},#{password},#{email})

  </insert>
  <!--  
  <insert id="insertSelective" parameterType="com.jd.pims.pem.model.Add" >
    insert into tadd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tname != null" >
        tname,
      </if>
      <if test="tpwd != null" >
        tpwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tpwd != null" >
        #{tpwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>-->
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.pims.user.model.User" >
    update t_user
    <set >
     
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateIcon" parameterType="com.jd.pims.user.model.User" >
    update t_user
    <set>
     
        icon = #{icon,jdbcType=VARCHAR},
    
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="user" >
   SELECT * FROM t_user where id =#{id}
  </select>
  <delete id="deleteByPrimaryKey">
     delete from t_user where id =#{id} 
      
  </delete>
  
  <select id="getAll" resultMap="user">
  	SELECT * FROM t_user
  	
  </select>
  <select id="getPageCount" resultType="java.lang.Integer" parameterType="String">
  	SELECT count(*) FROM t_user
  	 <if test="_parameter != null and _parameter != ''">
        where name like #{userName,jdbcType=VARCHAR}
      </if>
  </select>
  <select id="getUserByPage" resultMap="user" parameterType="String">
  	SELECT * FROM t_user 
  		 <if test="userName != null and userName != ''" >
        where name like #{userName,jdbcType=VARCHAR}
      </if>
  	 <if test="start != null and pageSize != null" >
        limit #{start},#{pageSize}
      </if>
  	
  </select>
  
  <!-- 根据员工ID取员工基本信息 -->
  <select id="getEmployeeById" resultMap="employee" parameterType="String">
  		SELECT E.ID,E.PERSON_CODE,E.PERSON_NAME,IF(E.SEX='MALE','1','0') AS SEX,O.ID AS ORG_ID,O.ORG_CODE,O.ORG_NAME,
  			C.ID AS CU_ID,C.CODE AS CU_CODE,C.NAME AS CU_NAME
  		FROM NP_SYS_PERSON E 
  			INNER JOIN NP_SYS_ORGANIZE O ON E.ORG_ID=O.ID
  			INNER JOIN NP_SYS_CONTROLUNIT C ON E.CONTROLUNITID=C.ID
  		WHERE E.IS_CLERK=1 AND E.ID= #{id}
  </select>
  
  <select id="getOrganizations" resultMap="controlUnit" >
  	SELECT ID,CODE,NAME,STATUS,TYPE,FULL_PATH,PARENTID,ORDER_NO 
  	FROM NP_SYS_CONTROLUNIT WHERE STATUS='NORMAL'
  </select>
  
  <select id="getSubOrganizations" resultMap="controlUnit" parameterType="String">
  	SELECT ID,CODE,NAME,STATUS,TYPE,FULL_PATH,PARENTID,ORDER_NO 
  	FROM NP_SYS_CONTROLUNIT WHERE STATUS='NORMAL' AND PARENTID=#{parentId}
  </select>
  
  <select id="getSubOrganizationSize" resultType="java.lang.Integer" >
	SELECT COUNT(ID) AS SIZE 
  	FROM NP_SYS_CONTROLUNIT WHERE STATUS='NORMAL' AND PARENTID=#{parentId}
  </select>
  
  <select id="findOrganization" resultMap="controlUnit" parameterType="String">
  	SELECT ID,CODE,NAME,STATUS,TYPE,FULL_PATH,PARENTID,ORDER_NO 
  	FROM NP_SYS_CONTROLUNIT WHERE STATUS='NORMAL' AND ID=#{cuId}
  </select>
  
  <select id="findRootOrganization" resultMap="controlUnit" >
  	SELECT ID,CODE,NAME,STATUS,TYPE,FULL_PATH,PARENTID,ORDER_NO 
  	FROM NP_SYS_CONTROLUNIT WHERE STATUS='NORMAL' AND PARENTID IS NULL
  </select>
  
  <select id="searchEmployee" resultMap="employee" parameterType="String">
  	SELECT EMP.ID,EMP.PERSON_CODE,EMP.PERSON_NAME,IF(EMP.SEX='MALE','1','0') AS SEX,EMP.AGE,EMP.TELEPHONE,EMP.OFFICE_TEL,EMP.CARD_NO,
  		EMP.ADDRESS,EMP.NATIVE_PLACE,ORG.ORG_CODE,ORG.ORG_NAME,CU.CODE AS CU_CODE,CU.NAME AS CU_NAME,EMP.WORK_TYPE AS PERSON_TYPE
  	FROM NP_SYS_PERSON EMP
  	LEFT OUTER JOIN NP_SYS_ORGANIZE ORG ON ORG.ID=EMP.ORG_ID
  	LEFT OUTER JOIN NP_SYS_CONTROLUNIT CU ON CU.ID=EMP.CONTROLUNITID
  	WHERE EMP.PERSON_CODE LIKE CONCAT('%',#{inputStr},'%' )
  		OR EMP.PERSON_NAME LIKE CONCAT('%',#{inputStr},'%' )
  		OR EMP.TELEPHONE LIKE CONCAT('%',#{inputStr},'%' )
  		OR EMP.OFFICE_TEL LIKE CONCAT('%',#{inputStr},'%' )
  		OR EMP.CARD_NO LIKE CONCAT('%',#{inputStr},'%' )
  </select>
  
  <select id="getAreaList" resultType="java.util.HashMap">
		<![CDATA[select AREA_NAME as name from NP_EQ_AREA ]]>
	<if test="name != '全国'" >
       <![CDATA[ where PARENT_ID = (select id from NP_EQ_AREA where AREA_NAME = #{name})]]>
    </if>
  	<if test="name =='全国' " >
        <![CDATA[where PARENT_ID = (select id from NP_EQ_AREA where AREA_NAME = '京东集团')]]>
    </if>
  </select>
  
</mapper>