<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.pims.user.dao.UserDao" >
  <resultMap id="user" type="com.jd.pims.user.model.User" >
    <id column="id" property="id" />
    <result column="user_name" property="userName"  />
    <result column="person_id" property="personId"  />
    <result column="password" property="password"  />
    <result column="user_type" property="userType"  />
    <result column="status" property="status"  />
    <result column="controlunitid" property="controlunitid"  />
  </resultMap>
  
  <resultMap id="userrole" type="com.jd.pims.user.model.UserRole" >
    <result column="user_id" property="userId"  />
    <result column="role_id" property="roleId"  />
  </resultMap>

  <resultMap id="person" type="com.jd.pims.user.model.Person" >
    <id column="id" property="id"  />
    <result column="person_code" property="person_code"  />
    <result column="person_name" property="person_name"  />
    <result column="org_id" property="org_id"  />
    <result column="is_clerk" property="is_clerk"  />
    <result column="sex" property="sex"  />
    <result column="age" property="age"  />
    <result column="native_place" property="native_place"  />
    <result column="telephone" property="telephone"  />
    <result column="address" property="address"  />
    <result column="email" property="email"  />
    <result column="card_type" property="card_type"  />
    <result column="card_no" property="card_no"  />
    <result column="photo" property="photo"  />
    <result column="status" property="status"  />
    <result column="controlunitid" property="controlunitid"  />
    <result column="post" property="post"  />
    <result column="office_tel" property="office_tel"  />
    <result column="dimission_date" property="dimission_date"  />
    <result column="join_date" property="join_date"  />
    <result column="is_edit" property="is_edit"  />
    <result column="person_type" property="person_type"  />
    <result column="is_operator" property="is_operator"  />
    <result column="visiter_key" property="visiter_key"  />
    <result column="sub_person_id" property="sub_person_id"  />
    <result column="pass_auth" property="pass_auth"  />
    <result column="invalid_date" property="invalid_date"  />
    <result column="work_type" property="work_type"  />
  </resultMap>
  
  <!-- 员工信息，包括组织架构 -->
  <resultMap id="employee" type="com.jd.pims.user.model.Employee" >
    <id column="id" property="id" />
    <result column="person_code" property="empCode"  />
    <result column="person_name" property="empName"  />
    <result column="card_no" property="IDCardNo"  />
    <result column="sex" property="sex"  />
    <result column="age" property="age"  />
    <result column="telephone" property="telephone"  />
    <result column="office_Tel" property="officeTel"  />
    <result column="address" property="address"  />
    <result column="native_place" property="nativePlace"  />
    <result column="org_id" property="orgId"  />
    <result column="org_code" property="orgCode"  />
    <result column="org_name" property="orgName"  />
    <result column="cu_id" property="cuId"  />
    <result column="cu_code" property="cuCode"  />
    <result column="cu_name" property="cuName"  />
    <result column="person_type" property="personType"  />
    <result column="work_type" property="workType"  />
    <result column="status" property="status"  />
  </resultMap>
  
  <resultMap id="controlUnit" type="com.jd.pims.user.model.ControlUnit" >
    <id column="id" property="id" />
    <result column="code" property="cuCode"  />
    <result column="name" property="cuName"  />
    <result column="parentid" property="parentId"  />
    <result column="status" property="status"  />
    <result column="order_no" property="orderNo"  />
    <result column="type" property="cuType"  />
    <result column="full_path" property="fullPath"  />
  </resultMap>
  
  <select id="getUserByAccount" resultMap="user" parameterType="String">
  	 	select id,user_name,password,person_id,user_type,status 
  	 	from NP_AU_USER where user_name=#{account} and STATUS='NORMAL'
  </select>

  <insert id="insert" parameterType="com.jd.pims.user.model.User" >
    insert into t_user ( name, age,password,email)
    values ( #{name}, #{age},#{password},#{email})

  </insert>
  <!--  
  <insert id="insertSelective" parameterType="com.jd.pims.pem.model.Add" >
    insert into tadd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tname != null" >
        tname,
      </if>
      <if test="tpwd != null" >
        tpwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tpwd != null" >
        #{tpwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>-->
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.pims.user.model.User" >
    update t_user
    <set >
     
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateIcon" parameterType="com.jd.pims.user.model.User" >
    update t_user
    <set>
     
        icon = #{icon,jdbcType=VARCHAR},
    
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="user" >
   SELECT * FROM t_user where id =#{id}
  </select>
  <delete id="deleteByPrimaryKey">
     delete from t_user where id =#{id} 
      
  </delete>
  
  <select id="getAll" resultMap="user">
  	SELECT * FROM t_user
  	
  </select>
  <select id="getPageCount" resultType="java.lang.Integer" parameterType="String">
  	SELECT count(*) FROM t_user
  	 <if test="_parameter != null and _parameter != ''">
        where name like #{userName,jdbcType=VARCHAR}
      </if>
  </select>
  <select id="getUserByPage" resultMap="user" parameterType="String">
  	SELECT * FROM t_user 
  		 <if test="userName != null and userName != ''" >
        where name like #{userName,jdbcType=VARCHAR}
      </if>
  	 <if test="start != null and pageSize != null" >
        limit #{start},#{pageSize}
      </if>
  	
  </select>
  
  <!-- 根据员工ID取员工基本信息 -->
  <select id="getEmployeeById" resultMap="employee" parameterType="String">
  		SELECT E.ID,E.PERSON_CODE,E.PERSON_NAME,IF(E.SEX='MALE','1','0') AS SEX,O.ID AS ORG_ID,O.ORG_CODE,O.ORG_NAME,
  			C.ID AS CU_ID,C.CODE AS CU_CODE,C.NAME AS CU_NAME,C.STATUS
  		FROM NP_SYS_PERSON E 
  			INNER JOIN NP_SYS_ORGANIZE O ON E.ORG_ID=O.ID
  			INNER JOIN NP_SYS_CONTROLUNIT C ON E.CONTROLUNITID=C.ID
  		WHERE E.IS_CLERK=1 AND E.ID= #{id}
  </select>
  
  <select id="getOrganizations" resultMap="controlUnit" >
  	SELECT ID,CODE,NAME,STATUS,TYPE,FULL_PATH,PARENTID,ORDER_NO 
  	FROM NP_SYS_CONTROLUNIT WHERE STATUS='NORMAL'
  </select>
  
  <select id="getSubOrganizations" resultMap="controlUnit" parameterType="String">
  	SELECT ID,CODE,NAME,STATUS,TYPE,FULL_PATH,PARENTID,ORDER_NO 
  	FROM NP_SYS_CONTROLUNIT WHERE STATUS='NORMAL' AND PARENTID=#{parentId}
  </select>
  
  <select id="getSubOrganizationSize" resultType="java.lang.Integer" >
	SELECT COUNT(ID) AS SIZE 
  	FROM NP_SYS_CONTROLUNIT WHERE STATUS='NORMAL' AND PARENTID=#{parentId}
  </select>
  
  <select id="findOrganization" resultMap="controlUnit" parameterType="String">
  	SELECT ID,CODE,NAME,STATUS,TYPE,FULL_PATH,PARENTID,ORDER_NO 
  	FROM NP_SYS_CONTROLUNIT WHERE STATUS='NORMAL' AND ID=#{cuId}
  </select>
  
  <select id="findRootOrganization" resultMap="controlUnit" >
  	SELECT ID,CODE,NAME,STATUS,TYPE,FULL_PATH,PARENTID,ORDER_NO 
  	FROM NP_SYS_CONTROLUNIT WHERE STATUS='NORMAL' AND PARENTID IS NULL
  </select>
  
  <select id="searchEmployee" resultMap="employee" parameterType="String">
  	SELECT EMP.ID,EMP.PERSON_CODE,EMP.PERSON_NAME,IF(EMP.SEX='MALE','1','0') AS SEX,EMP.AGE,EMP.TELEPHONE,EMP.OFFICE_TEL,EMP.CARD_NO,
  		EMP.ADDRESS,EMP.NATIVE_PLACE,ORG.ORG_CODE,ORG.ORG_NAME,CU.CODE AS CU_CODE,CU.NAME AS CU_NAME,EMP.WORK_TYPE AS PERSON_TYPE
  	FROM NP_SYS_PERSON EMP
  	LEFT OUTER JOIN NP_SYS_ORGANIZE ORG ON ORG.ID=EMP.ORG_ID
  	LEFT OUTER JOIN NP_SYS_CONTROLUNIT CU ON CU.ID=EMP.CONTROLUNITID
  	WHERE EMP.PERSON_CODE LIKE CONCAT('%',#{inputStr},'%' )
  		OR EMP.PERSON_NAME LIKE CONCAT('%',#{inputStr},'%' )
  		OR EMP.TELEPHONE LIKE CONCAT('%',#{inputStr},'%' )
  		OR EMP.OFFICE_TEL LIKE CONCAT('%',#{inputStr},'%' )
  		OR EMP.CARD_NO LIKE CONCAT('%',#{inputStr},'%' )
  </select>
  
  <select id="getAreaList" resultType="java.util.HashMap">
		<![CDATA[select AREA_NAME as name from NP_EQ_AREA AREA]]>
	<if test="name != '全国'" >
       <![CDATA[ 
       WHERE  AREA.AREA_CLASS='BROUGH' and AREA.FULL_PATH like CONCAT((select FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%' )]]>
    </if>
  	<if test="name =='全国' " >
        <![CDATA[where PARENT_ID = (select id from NP_EQ_AREA where AREA_NAME = '京东集团')]]>
    </if>
  </select>
  
  <select id="getCurrentTimeAreaForChart" resultType="java.util.HashMap">
	<![CDATA[	
		SELECT AREA.AREA_NAME as name,
		AREA.COORD1_X as x,
		AREA.COORD1_Y as y,
		LEVEL as level
	  	FROM  NP_EQ_AREA AREA 
	  	LEFT JOIN NP_CF_SUBSYSTEM SUB ON AREA.ID = SUB.AREA_ID
		LEFT JOIN NP_SYS_CONTROLUNIT CU ON CU.ID = SUB.MANAGE_ID
	  	WHERE  AREA.AREA_CLASS='BROUGH' 
	  	and AREA.FULL_PATH like CONCAT((select FULL_PATH from NP_EQ_AREA where AREA_NAME = #{name}),'%' )
	]]>
  </select>
  
	<select id="queryControlunit" resultType="java.util.HashMap">
	<![CDATA[
		SELECT
			c.id AS CU_ID,
			c. NAME AS NAME,
			o.id AS ORG_ID
		FROM
			np_sys_controlunit c
		LEFT JOIN np_sys_organize o ON o.CONTROLUNITID = c.ID
	]]>
	</select>

	<insert id="createUser" parameterType="java.util.List">
	   INSERT INTO np_au_user (ID, USER_NAME, PASSWORD, PERSON_ID, USER_TYPE, STATUS, CONTROLUNITID) 
	   	VALUES 
	   	 <foreach collection="list" item="item" index="index" separator="," >  
       		 (#{item.id},#{item.userName},#{item.password},#{item.personId},#{item.userType},#{item.status},#{item.controlunitid})  
    	</foreach>  
  	</insert>
  	
	<insert id="createUserRoles" parameterType="java.util.List">
	   INSERT INTO np_au_user_r_role (USER_ID, ROLE_ID)
	    VALUES 
	   	 <foreach collection="list" item="item" index="index" separator="," >  
       		 (#{item.userId},#{item.roleId})  
    	</foreach>  
  	</insert>
  	
	<insert id="createpersons" parameterType="java.util.List">
	  INSERT INTO np_sys_person (ID, PERSON_CODE, PERSON_NAME, ORG_ID, IS_CLERK, SEX, AGE, NATIVE_PLACE, TELEPHONE, ADDRESS, EMAIL, CARD_TYPE,
	   CARD_NO, PHOTO, STATUS, CONTROLUNITID, POST, OFFICE_TEL, DIMISSION_DATE, JOIN_DATE, IS_EDIT, PERSON_TYPE, IS_OPERATOR, VISITER_KEY,
	    SUB_PERSON_ID, PASS_AUTH, INVALID_DATE, WORK_TYPE) VALUES 
	   	 <foreach collection="list" item="item" index="index" separator="," >  
       		 (#{item.id},#{item.person_code},#{item.person_name},#{item.org_id},#{item.is_clerk},#{item.sex},#{item.age},#{item.native_place},
       		 #{item.telephone},#{item.address}, #{item.email},#{item.card_type},#{item.card_no},#{item.photo},#{item.status},#{item.controlunitid},
       		 #{item.post},#{item.office_tel},#{item.dimission_date},#{item.join_date},#{item.is_edit},#{item.person_type},#{item.is_operator},
       		 #{item.visiter_key},#{item.sub_person_id},#{item.pass_auth},#{item.invalid_date},#{item.work_type})  
    	</foreach>  
  	</insert>
  
</mapper>